.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #a63a61;
}

.BrandName {
  font-family: Raleway, sans-serif;
  color: #d46488;
  padding-left: 5px;
}

.BrandName > b {
  color: black;
  font-weight: 400;
  font-style: italic;
  font-size: 110%;
}

a {
  text-decoration: none;
}
